:root {
    --white: #fff;
    --black: #1E1E1E;
    --yellow: #F9E73C;
    --red: #EC4D4D;
    --orange: #F38D2E;
    --pink-dark: #ED78AA;
    --pink-light: #F4ACAC;
    --purple-light: #E1B1FF;
    --purple-dark: #C432E8;
    --blue-dark: #6663F5;
    --blue-light: #93B6FF;
    --green-light: #70E05A;
    --green-dark: #135C39;
    --grey-100: #696969;
    --grey-200: #3A3A3A;
    --grey-300: #292929;
}

.color-white {
    
    color: var(--white);
}
.color-black {
    
        color: var(--black);
}
.color-yellow {
    
        color: var(--yellow);
}
.color-red {
    
        color: var(--red);
}
.color-orange {
    
        color: var(--orange);
}
.color-pink-dark {
    
        color: var(--pink-dark);
}
.color-pink-light {
    
        color: var(--pink-light);
}
.color-purple-light {
    
        color: var(--purple-light);
}
.color-purple-dark {
    
        color: var(--purple-dark);
}
.color-blue-dark {
    
        color: var(--blue-dark);
}
.color-blue-light {
    
        color: var(--blue-light);
}
.color-green-light {
    
        color: var(--green-light);
}
.color-green-dark {
    
        color: var(--green-dark);
}
.color-grey-100 {
    
        color: var(--grey-100);
}
.color-grey-200 {
    
        color: var(--grey-200);
}
.color-grey-300 {
    
        color: var(--grey-300);
}
.background-white {
    
    background-color: var(--white);
}
.background-black {
    
        background-color: var(--black);
}
.background-yellow {
    
        background-color: var(--yellow);
}
.background-red {
    
        background-color: var(--red);
}
.background-orange {
    
        background-color: var(--orange);
}
.background-pink-dark {
    
        background-color: var(--pink-dark);
}
.background-pink-light {
    
        background-color: var(--pink-light);
}
.background-purple-light {
    
        background-color: var(--purple-light);
}
.background-purple-dark {
    
        background-color: var(--purple-dark);
}
.background-blue-dark {
    
        background-color: var(--blue-dark);
}
.background-blue-light {
    
        background-color: var(--blue-light);
}
.background-green-light {
    
        background-color: var(--green-light);
}
.background-green-dark {
    
        background-color: var(--green-dark);
}
.background-grey-100 {
    
        background-color: var(--grey-100);
}
.background-grey-200 {
    
        background-color: var(--grey-200);
}
.background-grey-300 {
    
        background-color: var(--grey-300);
}